footer{
    position: absolute;
    bottom: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
}


@media (max-width: 768px) {
  /* .chartPanel{
    display: flex;
    width: 95%;
    margin: auto;
    height: 80%;
    } */
.footro {
    margin-top: 180px !important;
  }
}
