<div>
    <!-- container -->
    <div class="container" style="margin-top: 70px;">
        <!-- row -->
        <div class="row" style="margin-top: 30px;">
            <div class="wwd">
              <!-- <div class="col-sm-5"><img class="img-responsive" src="img/shared/about-us.jpeg" alt="#"></div> -->
              <div  style="text-align: center;width: 95%;">
                <div class="column-inner ">
                  <div class="wrapper" style="margin-top: 5%;">
                    <h4 class="aboutus-title" style="font-size: 24px;">Who we are</h4>
                    <div class="desc">
                      <p>
                        We are the litterateur of The Apparel industry. We aim to introduce the trends of fashion, delving into the heart of Indian garments and gathering the rich  pearls of history and weave the web and woof of contemporary suave. 
                        
                        With debuts of Fashion wizards, clamouring for the spotlight, we recognise the marginalisation of creativity and talent. 
                        
                        Apparel Masons is the voice of today's Fashion enthusiasts who genuinely aim for the collaboration of ideas and break free from the monotony of traditions, yet keeping in mind the roots of the country. 
                        
                        
                        Check out our highlights of Fashion and apparels, from around the world and insinuate global reach of creative fashion and art</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <!-- /section -->
    <hr>
    <div style="width: 95%;">
    <div class="author-container">
        <div class="img-block"> <img alt="#" src="../../assets/shared/img/piya.jpg  " class="img-responsive img-writer"> </div>
        <div class="text-box">
          <h3 style="margin-top: 15px;">Piya</h3>
          <div class="deg" style="">Chief Editor </div>
          <div class="social-holder">
            <ul class="social">
              <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
          <p style="margin-top: 5px;">Hey, I am Radhika, aka Piya. As editor of Apparel Mason, I chronicle my ideas on Fashion, History, contemporary art and and express them, after careful assortment and blend them into an espresso shot, especially for the lovers of Fashion. 

            I shall also be giving Glowcodes, Trends of the hour and once in a while, poetry or art to savour. 
            
            As a neophyte among connoisseurs, I shall also be making a log of my experiences in the rapid revolution of Fashion world</p>
          
        </div>
      </div>
    </div>

        <!-- row -->
        
        <!-- /row -->
    </div>
    <!-- /container -->
</div>