.post-container{
    width: 95%;
    overflow: visible;
    position: relative;
}

img,video{
    height: auto !important;
    max-width: 100%;
}

.recordLed{
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 50%;
  }
  
  .record {
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 50%;
  }
  .live{
    -webkit-animation: blinking 1s cubic-bezier(.5,0,1,1) infinite alternate;
    animation: blinking 1s cubic-bezier(.5,0,1,1) infinite alternate;
  }

.textAlignCenter{
text-align: center;
}

@media only screen and (max-width: 600px) {
  h1 span{
      font-size:34px!important;
  }
  img{
      height:100%!important;
      width:100%!important;
  }
}

.record {
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 50%;
  }
  .live{
    -webkit-animation: blinking 1s cubic-bezier(.5,0,1,1) infinite alternate;
    animation: blinking 1s cubic-bezier(.5,0,1,1) infinite alternate;
  }

  .ledContainer {
    height: 25px;
    width: 25px;
  
    border-radius: 50%;
    display: inline-block;
    display: inline-flex;
    width: 20px;
    justify-content: center;
  }
    .underLine{
      text-decoration: underline;
    }
  
    .trend-heading{
      font-size: 26px;
      margin: 0px 0;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 700;
    }
    .card-hover:hover {
      top: -3px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.2);
      cursor: pointer;
    }
  .blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
    .text-link:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  